.header {
  background: linear-gradient(180deg, #f89b0e, #f49d19);
  border: solid 1px black;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  height: 60px;
  justify-content: center;
  width: auto;
}

.header-Dark {
  background: linear-gradient(180deg, #d18b21, #915809);
  border-color: #835107;
  color: #fefefe;
}

.header h2 {
  font-size: 28px;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 320px;
}

.header-content img{
  height: 30px;
  margin-left: 10px;
  margin-top: 4px;
}

.header-content img:hover{
  height: 32px;
}

.header button {
  margin-left: 7px;
}